::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 5px;
}
:root.dark {
  ::-webkit-scrollbar-thumb {
    background-color: #666;
  }
}

// 主题切换过渡动画
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  mix-blend-mode: normal;
}

::view-transition-new(root) {
  animation-name: theme-expand;
}

// ::view-transition-old(root) {
//   animation-name: theme-shrink;
//   z-index: -1;
// }

@keyframes theme-expand {
  from {
    clip-path: circle(0% at 50% 50%);
  }
  to {
    clip-path: circle(100% at 50% 50%);
  }
}

// @keyframes theme-shrink {
//   from {
//     clip-path: circle(150% at 50% 50%);
//   }
//   to {
//     clip-path: circle(0% at 50% 50%);
//   }
// }

body {
  &.body--dark {
    color-scheme: dark;
  }
  &.electron {
    .q-notifications__list--top {
      top: 32px;
    }
  }
}

@flip: flip-;

.@{flip} {
  &enter-active,
  &leave-active {
    transition: transform 0.3s ease-out;
  }

  &enter-from,
  &leave-to {
    transform: rotateX(90deg);
  }
}

:lang(en) .colon::after {
  content: ':';
  margin-right: 4px;
  margin-left: 2px;
}

:lang(zh) .colon::after {
  content: '\FF1A';
  margin-right: 0;
  margin-left: 0;
}

// override quasar
.q-notifications {
  word-break: break-word;
}
