<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net/npm/vue@3.5.26/dist/; style-src 'self' 'unsafe-inline'; media-src 'self' 'unsafe-inline'; connect-src 'self' https://raw.githubusercontent.com/Xli33/ https://github.com/Xli33/ https://release-assets.githubusercontent.com;"
    />
    <!-- <link rel="icon" href="/favicon.ico" /> -->
    <title>shutdown for win</title>
    <link href="cdn/Material.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="cdn/quasar.2.18.6.css" />
    <script
      src="<%= process.env.NODE_ENV === 'production' ? 'cdn/vue.3.5.26' : 'https://cdn.jsdelivr.net/npm/vue@3.5.26/dist/vue.runtime.global' %>.js"
      referrerpolicy="no-referrer"
      <%= process.env.NODE_ENV === 'development' ? '' : 'defer' %>
    ></script>
    <script src="cdn/vue-router.4.6.4.js" defer></script>
    <script src="cdn/quasar.2.18.6.js" defer></script>
  </head>

  <body>
    <div id="app"></div>
    <script>
      window.electronAPI && document.body.classList.add('electron')
      ;(() => {
        const arr = location.hash.match(/\w+=[^&]*/g)
        ver = navigator.appVersion.match(/shutdown-for-win\/([\d\.]+)/)[1]
        if (!arr) return (_HASHQUERY = {})
        _HASHQUERY = arr.reduce(
          (a, b) =>
            Object.assign(
              a,
              b.split('=').reduce((k, v) => ({ [k]: v }))
            ),
          {}
        )
        if (_HASHQUERY.lang) {
          document.documentElement.lang = _HASHQUERY.lang
        }
      })()
    </script>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
